<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <!-- Font_Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- My_css -->
    <link rel="stylesheet" href="css/style.css">
    <title>Boolzapp</title>
</head>
<body>
    <!-- Vue 3.0 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <div id="app">
        
        <div class="container">
            <header class="green"></header>
            <main class="grey"></main>

            <div class="app-box">
                    <div class="left-column">
                        <header>
                            <div class="user head-user">
                                <div class="avatar ">
                                    <img src="img/avatar_5.jpg" alt="user-icon">
                                </div>
                                <div class="name">
                                    <h1>Daniel</h1>
                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa-sharp fa-solid fa-circle-notch"></i>
                                <i class="fa-solid fa-message"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </header>
                        <main>
                            <div class="notification-bar">
                                <div class="bell">
                                    <i class="fa-solid fa-bell"></i>
                                </div>
                                <div class="notification-warn">
                                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <div class="search-bar">
                                <div class="search">
                                    <i class="fa-solid fa-magnifying-glass">
                                    <input type="text">

                                    </i>
                                </div>
                            </div>
                            <div class="chat">
                                <div class="user" v-for="contact in contacts">
                                    <div class="avatar">
                                        <img :src="contact.avatar" alt="">
                                    </div>
                                    <div class="preview">
                                        <h1>
                                            {{contact.name}}
                                        </h1>
                                        <p>Ultimo messaggio inviato</p>
                                    </div>
                                    <div class="time">
                                        <p>12:00</p>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                    <div class="right-column">
                        <header class="right-head">
                            <div class="user head-user">
                                <div class="avatar ">
                                    <img src="img/avatar_1.jpg" alt="user-icon">
                                </div>
                                <div class="name">
                                    <h1>Michele</h1>
                                    <p>Ultimo messaggio inviato alle 12:00</p>

                                </div>
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </header>
                        <main>
                            <div class="chat-in-progress" >
                                <div class="chat-sx">
                                    <p v-for="message in contacts[0].messages" :class="contacts[0].messages[0].status === 'received' ? 'sent' : 'received'" >
                                        {{message.message}}
                                    </p>
                                </div>
                                <div class="chat-dx" >
                                    <p v-for="message in contacts[0].messages" :class="contacts[0].messages[0].status === 'sent'? 'sent' : 'sent'" >
                                        {{message.message}}
                                    </p>
                                </div>
                            </div>
                        </main>
                        <footer>
                            <div class="icon">
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <div class="input-text">
                                <input type="text" placeholder="  Scrivi un messaggio">
                            </div>
                            <div class="icon">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </footer>
                    </div>
            </div>

        </div>
















    </div>


    <!-- My_js -->
    <script src="js/myscript.js"></script>
</body>
</html>




<!-- <img src="img/avatar_1.jpg" alt="">
</div>
<div class="preview">
    <h3>Michele</h3>
    <p>Ultimo messaggio inviato</p>
</div>
<div class="time">
    <p>12:00</p>
</div> -->